@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Yusei+Magic&display=swap');

.App {
  text-align: center;
  margin: auto;
  font-family: "Yusei Magic", sans-serif;
}

#root {
  font-family: 'Lora', serif;
}

/* Header */
.navbar-brand {
  font-family: "Yusei Magic", sans-serif;
  font-size: 80px;
  text-align: center;
}

.search-container {
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
}

.search-label {
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 5px; 
  font-size: 20px;
  font-style: italic;
  color: #444444;
  box-sizing: border-box;
  outline: none;
}

.btn-outline-dark {
  margin: 5px;
  font-size: 20px; 
}


/* Movie Container*/

.movie-container {
  margin-top: 20px;
}


.nomination-container {
  margin-top: 20px;
}

/* Movie + Nomination Details */
.movie-poster {
  height: auto;
  max-width: 100%;
}

h5.card-title {
  font-weight: 700;
}

p.card-text {
  font-weight: 500;
}



