.App {
  text-align: center;
}

.search-container {
  margin: 36px;
  width: 100%;
  max-width: 800px;
}

.search-label {
  position: relative;
}

.search-container input {
  width: 75%;
  padding: 10px; 
  font-size: 30px;
  font-style: italic;
  color: #444444;
  box-sizing: border-box;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 20px;
  font-size: 24px;
  color: #555555;
  right: 18px;
}