.App {
  text-align: center;
  margin: auto;
}

.search-container {
  margin-top: 20px;
  width: 100%;
  max-width: 2000px;
}

.search-label {
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 5px; 
  font-size: 20px;
  font-style: italic;
  color: #444444;
  box-sizing: border-box;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 20px;
  font-size: 24px;
  color: #555555;
  /* right: 18px; */
}

.btn {
  margin: 10px;
}

/* Movie Details */
.movie-poster {
  height: auto;
  max-width: 100%;
}

.movie-container {
  margin-top: 20px;
}


.nomination-container {
  margin-top: 20px;
}

